
<div class="container" *ngIf="!paciente">
  <h3 class="mt-2 text-center text-white bg-primary" style="border-radius:50%;"><b>Seleccione
      el paciente para sacar turno</b></h3>
  <app-tabla [mensaje]="'Cargando pacientes'" [lista]="pacientes"
    [tipo]="'paciente'" (opcion)="seleccionarPaciente($event)"></app-tabla>
</div>
<div *ngIf="paciente">
  <div class="container" *ngIf="!verTurnos">

    <div class="row" *ngIf="!especialista">
      <div class="col-12 text-center">
        <hr>
        <button
          *ngFor="let tipo of cronogramasEspecialistas | ordenarEspecialistas "
          class="btn btn-primary m-2"
          (click)="filtrarPorEspecialista(tipo.especialista)">
          <img class="foto" [src]="tipo.especialista.Imagen" alt>
        </button>
        <hr>
      </div>
    </div>

    <div class="row" *ngIf="especialista">
      <div class="col-12 text-center">
        <hr>
        <button class="btn btn-primary m-2">
          <img class="foto" [src]="especialista.Imagen" alt>
        </button>
        <hr>
      </div>

      <div class="col-12 text-center">
        <ng-container *ngFor="let tipo of listaEspeMed | ordenarListaString">
          <button class="btn m-2" (click)="obtnerTurnos(tipo.nombre)">
            <label class="nombre-label">{{ tipo.nombre }}</label>
            <img class="especialidades bg-dark"
              [src]="tipo.imagen | imagenEspGenerica" alt>
          </button>
        </ng-container>
        <hr>
      </div>

    </div>

  </div>

  <div class="container" *ngIf="verTurnos">
    <p>
      <a
        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        (click)="clean()">
        Volver
      </a>
    </p>
    <div class="row" *ngIf="mostrar">
      <h3 class="mt-2 text-center text-white" *ngIf="especialidadElegida">
        <b>{{especialidadElegida}}</b>
      </h3>
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 border border-info mt-2 bg-dark"
        *ngFor="let dia of mostrar | ordenarCronograma">
        <h4><span class="badge bg-warning text-dark">{{dia.fecha.dia}} -
            {{dia.fecha.fecha | fechaFormat}}</span></h4>
        <div *ngFor="let horario of dia.turnos">
          <span class="badge bg-success">
            {{horario.especialista.Apellido | cFL}}
            {{horario.especialista.Nombre | cFL}}
          </span>
          <div class="row">
            <div *ngFor="let turno of horario.turnos" class="col-6 text-center">
              <button
                (click)="elegirTurno(turno, dia)"
                type="button"
                class="btn m-1 btTurnos"
                [ngClass]="{
                  'btn-primary': turno.disponible,
                  'btn-outline-danger': !turno.disponible
                }"
                [disabled]="!turno.disponible">
                {{turno.hora | horaFormat}}
              </button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

</div>
