
<div class="row">
  <div class="col-12">
        <form autocomplete="off"[formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control"
              formControlName="Nombre" placeholder="Ingrese el Nombre"
              id="Nombre">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <div
            class="card mx-auto d-flex justify-content-center align-items-center p-2"
            style="width: 18rem; background-color: rgb(220, 243, 245); border-radius: 5%;">
            <div class="card-body">
              <input type="file" accept=".png, .jpg,.jpeg"
                (change)="cargarImagen($event)" id="inputFile">
              <label for="inputFile">
                <img class="imagenes"
                  [src]="myForm.controls['Imagen'].value"
                  *ngIf="myForm.controls['Imagen'].value"
                  alt="./assets/upload-icon-30-1.png">
              </label>
              <label for="inputFile">
                <img class="imagenes"
                  src="/assets/upload-icon-30-1.png"
                  *ngIf="myForm.controls['Imagen'].value == ''" alt>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <hr>
        <button class="btn btn-success btn-block" type="submit"
          style="font-size: 1rem;">Crear</button>
      </div>

    </form>
  </div>
</div>
