<div class="table-container">
  <div *ngIf="lista.length === 0; else table"
    class="alert alert-warning text-center">
    {{mensaje}}
  </div>
  <ng-template #table>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Imagen</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Dni</th>
            <th>Email</th>
            <th *ngIf="tipo == 'especialista'">Autorizado</th>
            <th>Rol</th>
            <th *ngIf="tipo == 'paciente'">Imagen2</th>
            <th *ngIf="tipo == 'paciente'">ObraSocial</th>
            <th *ngIf="tipo == 'especialista'">Especialidades</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of lista  | ordenarUsuariosGral; let i = index"
            (click)="getOpcion(usuario)">
            <td [ngClass]="getRowClass(i)">{{ i + 1 }}</td>
            <td [ngClass]="getRowClass(i)">
              <img [src]="usuario.Imagen" alt="Imagen de usuario"
                class="imagen">
            </td>
            <td [ngClass]="getRowClass(i)">{{ usuario.Apellido }}</td>
            <td [ngClass]="getRowClass(i)">{{ usuario.Nombre }}</td>
            <td [ngClass]="getRowClass(i)">{{ usuario.Edad }}</td>
            <td [ngClass]="getRowClass(i)">{{ usuario.Dni }}</td>
            <td [ngClass]="getRowClass(i)">{{ usuario.Email }}</td>
            <td [ngClass]="getRowClass(i)" *ngIf="tipo == 'especialista'">
              <div class="form-check form-switch ms-2"
                (click)="authUser(usuario)">
                <input class="form-check-input"
                  type="checkbox"
                  [checked]="usuario.Autorizado"
                  id="flexSwitchCheckChecked"
                  disabled
                  [ngClass]="{'bg-success': usuario.Autorizado}">
              </div>
            </td>

            <td [ngClass]="getRowClass(i)">{{ usuario.Rol }}</td>
            <td [ngClass]="getRowClass(i)" *ngIf="tipo == 'paciente'">
              <img [src]="usuario.Imagen2" alt="Imagen de usuario"
                class="imagen">
            </td>
            <td [ngClass]="getRowClass(i)" *ngIf="tipo == 'paciente'">{{
              usuario.ObraSocial }}</td>
            <td [ngClass]="getRowClass(i)" *ngIf="tipo == 'especialista'">
              <ul>
                <li *ngFor="let especialidad of usuario.Especialidades">{{
                  especialidad }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
