<div class="container-fluid  mt-3" *ngIf="ver && !historia">
  <div class="col-xl-8 col-md-8 col-sm-10 mx-auto" *ngIf="usuario">
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
          <div class="profile mr-3">
            <img [src]="usuario.Imagen" alt="..."
              class="rounded mb-2 img-thumbnail foto"><a routerLink="/home/cargar-horario"
              class="btn btn-info btn-sm btn-block m-2 float-end"
              *ngIf="usuario.Rol=='especialista'">Mis horarios</a>
              <a (click)="descargarPdf()"
              class="btn btn-info btn-sm btn-block m-2 float-end"
              *ngIf="usuario.Rol=='especialista'">Mis Atenciones</a>
              <a
              class="btn btn-info btn-sm btn-block float-end"
              (click)="verHistoria()"
              *ngIf="usuario.Rol=='paciente'">Historia Clinica</a>
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0"> {{usuario.Nombre | cFL}} {{usuario.Apellido |
              cFL}} </h4>
            <p class="small mb-4"><i class="fa fa-user mr-2 mb-4"></i>
              {{usuario.Rol}} </p>
          </div>
        </div>
      </div>

      <div class="bg-light p-4 d-flex justify-content-end  text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <small class="text-muted "> <i class="fa fa-envelope mr-1"></i>
              {{usuario.Email}} </small>
          </li>
        </ul>
      </div>

      <div class="px-4">
        <div class="py-4">
          <h5 class="mb-3">Datos adicionales</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <span class="text-muted"><b>Edad: </b><i>{{usuario.Edad}}</i></span>
            </li>
            <li class="mb-2">
              <span class="text-muted"><b>DNI: </b><i>{{usuario.Dni}}</i></span>
            </li>
            <li class="mb-2" *ngIf="usuario.Rol == 'paciente'">
              <span class="text-muted"><b>Obra social: </b><i>{{usuario.ObraSocial}}</i></span>
            </li>
            <li class="mb-2" *ngIf="usuario.Rol == 'paciente'">
              <span class="text-muted"><b>Credencial: </b><img class="imagen"
                  [src]="usuario.Imagen2" alt></span>
            </li>
          </ul>
          <div class="row mt-2" *ngIf="usuario.Rol=='especialista'">
            <div class="col">
              <h5>Especialidades: </h5>
              <div class="d-flex flex-wrap">
                <div *ngFor="let esp of usuario.Especialidades">
                  <span class="badge bg-primary m-1"><i>{{esp}}</i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-spinner *ngIf="!ver" ></app-spinner>

<app-form-historia-clinica *ngIf="historia" [paciente]="paciente" [readOnlyMode]="true" (ver)="historia = $event" [verPerfil]="usuario.Rol == 'paciente'"></app-form-historia-clinica>
