<div class="container py-2 mt-5"
  style="background-color: rgb(0, 255, 242); border-radius: 2%;">
  <div class="p-3 mb-2 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-4 fw-bold">Tp-Final / LA CLINICA</h1>
      <p class="col-md-8 fs-3 mt-3">Si posee una cuenta verificada, acceda desde
        el login, de lo contrario puede crearse una cuenta según su rol.</p>
      <button class="btn btn-primary btn-sm" type="button"
     (click)="navegar('/login')"
      >Login</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-3 text-white bg-dark rounded-3">
        <h2>Rol Paciente</h2>
        <p class="mt-3">Cree una nueva cuenta con perfil de paciente, el mismo
          le permitirá acceder previa verificación de email.</p>
        <button class="btn btn-outline-light btn-sm" type="button"
        (click)="navegar('/registro-pacientes')"
        >Crear cuenta</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-3 bg-light border rounded-3">
        <h2>Rol Especialista</h2>
        <p class="mt-3">Cree una nueva cuenta con perfil de especialista, el mismo
          le permitirá acceder previa verificación de email y aprobación de un administrador.</p>
        <button class="btn btn-outline-secondary btn-sm" type="button"
        (click)="navegar('/registro-especialistas')"
        >Crear cuenta</button>
      </div>
    </div>
  </div>

  <footer class="pt-2 mt-2 text-muted border-top" (click)="logout()">
    &copy; Taboada Ezequiel - 2023
  </footer>
</div>
