<div class="container-fluid">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-12">
      <div class="row">
        <div *ngFor="let dia of dias" class="col-4">
          <div class="card text-center transparent-bg mt-3"[ngClass]="getCardClass(dia)">
            <div class="card-header d-flex justify-content-center align-items-center">
              <input type="checkbox" [(ngModel)]="dia.editable">
              <b>{{ dia.nombre | cFL }}</b>
            </div>
            <div class="card-body">
              <label class="texto-lbl">Hora Inicio</label>
              <select class="form-select" [disabled]="!dia.editable" [(ngModel)]="seleccionesHoras[dia.nombre]!.horaInicio">
                <option value></option>
                <option *ngFor="let hora of horas" [value]="hora">{{ hora }}</option>
              </select>

              <label class="texto-lbl mt-2">Hora Fin</label>
              <select class="form-select" [disabled]="!dia.editable" [(ngModel)]="seleccionesHoras[dia.nombre]!.horaFin">
                <option value></option>
                <option *ngFor="let hora of filtrarHoras(dia.nombre)" [value]="hora">{{ hora }}</option>
              </select>

              <hr>
              <button type="button" class="btn btn-success"
              (click)="cargarhorario(dia.nombre)"
              [disabled]="!dia.editable">Cargar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
