

.texto-claro {
  color: #020202;
  font-size: 2.4rem;

}

.texto-claro2 {
  color: #0a0a0a;
  font-size: 1.2rem;
  float: left;
}

.card {
  max-width:  600px;
  background-color: rgb(203, 188, 209);
  border-radius: 10px;
}

/* @media (min-width: 768px) {
  .card {
    max-width: 30%;
  }
} */
