

.texto-claro {
  color: #020202;
  font-size: 2.4rem;

}

.texto-claro2 {
  color: #0a0a0a;
  font-size: 1.2rem;
  float: left;
}

.card {

  background-color: rgb(203, 188, 209);
  border-radius: 10px;
}

img{
  height: 50px;
  width: 50px;
}

.especialista{
  background-color: aqua;
}
.admin{
  background-color: rgb(144, 223, 164);
}
.paciente{
  background-color: rgb(208, 172, 223);
}

.boton-inicio{
  width: 250px;
}


