<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" *ngIf="usuario">
  <div class="container-fluid ">
    <a class="navbar-brand" (click)="home()">TPF-Taboada</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- ADMIN -->
        <li class="nav-item" *ngIf="usuario.Rol == 'admin'">
          <a class="nav-link" routerLink="seccion-usuarios"
            routerLinkActive="active">Info usuarios</a>
        </li>
        <li class="nav-item" *ngIf="usuario.Rol == 'admin'">
          <div class="dropdown">
            <button class="nav-link" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Alta usuarios
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="navegar('admin')">Admin</a></li>
              <li><a class="dropdown-item" (click)="navegar('paciente')">Paciente</a></li>
              <li><a class="dropdown-item" (click)="navegar('especialista')">Especialista</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item" *ngIf="usuario.Rol == 'admin'">
          <a class="nav-link" routerLink="mis-turnos"
            routerLinkActive="active">Turnos</a>
        </li>



        <!-- Admin | Paciente -->
        <li class="nav-item"
          *ngIf="usuario.Rol == 'admin' || usuario.Rol == 'paciente'">
          <a class="nav-link" routerLink="solicitar-turno"
            routerLinkActive="active">Solicitar Turno</a>
        </li>

        <!-- ESPECIALISTA -->
        <li class="nav-item" *ngIf="usuario.Rol == 'especialista'">
          <a class="nav-link" routerLink="cargar-horario"
            routerLinkActive="active">Cargar Horario</a>
        </li>

        <!-- TODOS -->
        <li class="nav-item" *ngIf="usuario.Rol != 'admin'">
          <a class="nav-link" routerLink="mis-turnos"
            routerLinkActive="active">Mis Turnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mi-perfil"
            routerLinkActive="active">Mi Perfil</a>
        </li>

      </ul>

      <i class="pi pi-user p-1 mx-5" style="font-size:1.5rem"
        (click)="verUser()"
        *ngIf="usuario">
        <span *ngIf="ver" class="mx-2">
          {{ usuario.Apellido | cFL }}
          {{usuario.Nombre | cFL}} {{'-'}} {{ usuario.Rol | cFL}}</span> </i>
      <button class="bton btn">
        <i class="pi pi-power-off p-1" style="font-size:1.5rem"
          (click)="logout()"></i>
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

</div>
